<div class="container">

  <app-header [title]="title"></app-header>

  <div class="row">

    <ng-container
      *ngIf="addingSupply; then finishAddingSupplyBtn; else startAddingSupplyBtn">
    </ng-container>

    <ng-template #startAddingSupplyBtn>
      <button 
        class="btn col s2 offset-s10" 
        (click)="changeAddingSupply(); hideAllCommunicats()" 
      >
        Dodaj dostawę/y
      </button>
    </ng-template>

    <ng-template #finishAddingSupplyBtn>
      <button 
        class="btn col s2 offset-s10" 
        (click)="changeAddingSupply(); hideAllCommunicats()" 
      >
        Zakończ
      </button>
    </ng-template>
  </div>

  <div class="row">

    <ng-container
      *ngIf="sellingBricks; then finishSellingBricksBtn; else startSellingBricksBtn">
    </ng-container>

    <ng-template #startSellingBricksBtn>
      <button 
        class="btn col s2 offset-s10" 
        (click)="changeSellingBricks(); hideAllCommunicats()" 
        *ngIf="!sellingBricks" 
        [disabled]="isWarehouseEmpty()"
      >
        Sprzedaj
      </button>
    </ng-template>

    <ng-template #finishSellingBricksBtn>
      <button 
        class="btn col s2 offset-s10" 
        (click)="changeSellingBricks(); hideAllCommunicats()" 
        *ngIf="sellingBricks"
      >
        Zakończ
      </button>
    </ng-template>
  </div>

  <div *ngIf="addingSupply" class="show_section extra_margin">
    <div class="row">
      <h1>Nowa dostawa</h1>
      <h6 class="col s1">Ilość cegieł</h6>
      <input
        class="col s1"
        type="number"
        (keyup)="hideAllCommunicats()"
        [(ngModel)]="newSupply.amount"
      />    
      <h6 class="col s2">Cena za sztukę (PLN)</h6>
      <input
        class="col s1"
        type="number"
        (keyup)="hideAllCommunicats()"
        [(ngModel)]="newSupply.price"
      />
      <button 
        class="btn-floating" 
        (click)="addSupply()"
        [disabled]="newSupply.amount === 0 || newSupply.price === 0 ">
          +
        </button>
    </div>
  </div>

  <div *ngIf="sellingBricks" class="show_section extra_margin">
    <div class="row">
      <h1>Sprzedaż</h1>
      <h6 class="col s1">Ilość cegieł</h6>
      <input
        class="col s4"
        type="number"
        (keyup)="hideAllCommunicats()"
        [disabled]="isWarehouseEmpty()"
        [(ngModel)]="amountOfBricksToSell"
      />    

      <button 
        class="btn-floating" 
        (click)="handleSellBricks()"
        [disabled]="amountOfBricksToSell === 0 || isWarehouseEmpty()">
          -
        </button>
    </div>
  </div>

  <div *ngIf="isSoldError" class="show_section">
    <div class="row">
      <h6>Sprzedaż nie została zrealizowana. Obecna ilość cegieł w magazynie to: {{ countOfAvaibaleBricks | number}}.</h6>
    </div>
  </div>
  
  <div *ngIf="isOrderRealized" class="show_section">
    <div class="row">
      <h6>Zamówienie zrealizowane! Ilość spakowanych cegieł: {{ countOfPackedBricks | number }}, Cena do zapłaty {{ sumToPay | currency:'PLN '}}.</h6>
    </div>
  </div>
    
  <div *ngIf="isValidationErrors" class="show_section">
    <div class="row">
      <h6>Wprowadź poprawne dane.</h6>
    </div>
  </div>

  <app-warehouse-info [supplies]="supplies"></app-warehouse-info>

  <button 
    class="btn green extra_margin"
    (click)="cleanWarehouse()"
    [disabled]="isWarehouseEmpty()">
      Wyczyść magazyn
  </button>

  <app-footer [footer]="footer"></app-footer>

</div>
